{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <!--Floating Call BUTTON STARTING -->
      <a
      href="https://wa.me/971552949878?text=Hi%20There!"
      class="float"
      style="
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 80px;
        left: 80px;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
        box-shadow: 2px 2px 3px #999;
      "
    >
      <img src="https://trickuweb.com/whatsapp.png" alt="" height="60px" width="60px" />
    </a>
    <!-- Floating Call BUTTON ENDING -->
        <!--Floating Call BUTTON STARTING -->
        <a
        href="tel:+918789529215"
        class="float"
        style="
          position: fixed;
          width: 50px;
          height: 50px;
          bottom: 150px;
          left: 80px;
          color: #fff;
          border-radius: 50px;
          text-align: center;
          cursor: pointer;
          box-shadow: 2px 2px 3px #999;
        "
      >
        <img src="{% static 'assets\images\icons\5591.png' %}" alt="" height="60px" width="60px" />
      </a>
      <!-- Floating Call BUTTON ENDING -->
</body>
</html>