{% load static %}

<footer class="footer footer-2">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="widget widget-about">
                        <img src="{% static 'assets/images/logo/realTouch-footer-logo.png' %}" class="footer-logo" alt="Footer Logo" width="175" height="50">
                        <p>Experiments were made not only with shapes and sizes, but also materials.  The design evolution continues as contemporary designers go on weaving pure magic with many different articles of furniture. </p>
                        
                        <div class="widget-about-info">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <span class="widget-about-title">Got Question? Call us 24/7</span>
                                    <a href="tel:0552949878">971 552949878</a>
                                </div><!-- End .col-sm-6 -->
                                <div class="col-sm-6 col-md-8">
                                    <span class="widget-about-title">Payment Method</span>
                                    <figure class="footer-payments">
                                        <img src="{% static 'assets/images/payments.png' %} " alt="Payment methods" width="272" height="20">
                                    </figure><!-- End .footer-payments -->
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .widget-about-info -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-12 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="{% url 'feature:contact' %}">Manufacturing Unit</a></li>
                            <li><a href="#">Customization</a></li>
                            <li><a href="{% url 'feature:contact' %}">Logistics Services</a></li>
                            <li><a href="contact.html">Projects</a></li>
                            <li><a href="{% url 'feature:contact' %}">Fitout</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Customize</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="{% url 'feature:contact' %}">Decor</a></li>
                            <li><a href="{% url 'feature:contact' %}">Materials</a></li>
                            <li><a href="{% url 'feature:contact' %}">Layout</a></li>
                            <li><a href="{% url 'feature:contact' %}">Space Planning</a></li>
                            <li><a href="">Fit Out Quotes</a></li>
                           
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">About Us</a></li>
                            <li><a href="{% url 'feature:contact' %}l">Contact Us</a></li>
                            <li><a href="{% url 'feature:contact' %}">Our Showroom</a></li>
                            <li><a href="{% url 'feature:contact' %}">Support Center</a></li>
                            <li><a href="#">Blogs</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-64 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © 2024 REALTOUCH OFFICE FURNITURE trading llc . All Rights Reserved.</p><!-- End .footer-copyright -->
            <ul class="footer-menu">
                <li><a href="#">Terms Of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul><!-- End .footer-menu -->

            <div class="social-icons social-icons-color">
                <span class="social-label">Social Media</span>
                <a href="https://www.facebook.com/profile.php?id=100088497903298" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                <a href="https://twitter.com/OfficeFurn94917" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                <a href="https://www.instagram.com/realtouchofficefurniture23/?next=%2F" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                <a href="https://www.youtube.com/@realtouchofficefurniture" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                <a href="https://www.pinterest.com/realtouchfurniture/" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
            </div><!-- End .soial-icons -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->