<div class="container">
    <hr>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6">
            <div class="icon-box icon-box-card text-center">
                <span class="icon-box-icon">
                    <i class="icon-rocket"></i>
                </span>
                <div class="icon-box-content">
                    <h3 class="icon-box-title">CUSTOMIZATION</h3><!-- End .icon-box-title -->
                    <p>Our experienced  designers will provide you with space planning and customized design options to fit your workplace.  Contact our team  to get the best price and an exceptional service.</p>
                </div><!-- End .icon-box-content -->
            </div><!-- End .icon-box -->
        </div><!-- End .col-lg-4 col-sm-6 -->

        <div class="col-lg-4 col-sm-6">
            <div class="icon-box icon-box-card text-center">
                <span class="icon-box-icon">
                    <i class="icon-rotate-left"></i>
                </span>
                <div class="icon-box-content">
                    
                    <h3 class="icon-box-title">FREE DELIVERY</h3><!-- End .icon-box-title -->
                    <p>Our efficient and friendly delivery team will deliver and install furniture for free within UAE. However shipping and installation  is available all over GCC and Africa upon client request.</p>
                </div><!-- End .icon-box-content -->
            </div><!-- End .icon-box -->
        </div><!-- End .col-lg-4 col-sm-6 -->

        <div class="col-lg-4 col-sm-6">
            <div class="icon-box icon-box-card text-center">
                <span class="icon-box-icon">
                    <i class="icon-life-ring"></i>
                </span>
                <div class="icon-box-content">
                    <h3 class="icon-box-title">PERSONALIZED ASSISTANCE</h3><!-- End .icon-box-title -->
                    <p>Office Plus team is always available for any inquiries, feedback/suggestions and complaints. We value our customers and their satisfaction is our priority. Please contact our customer service team on RealTouchfurniture </p>
                </div><!-- End .icon-box-content -->
            </div><!-- End .icon-box -->
        </div><!-- End .col-lg-4 col-sm-6 -->
    </div><!-- End .row -->

    <div class="mb-2"></div><!-- End .mb-2 -->
</div><!-- End .container -->