{% extends 'User-Template/base-layout.html' %}
{% load static %}
{% block title %}
RealTouch | Office Furniture Dubai | Top-Quality Furniture
{% endblock title %}
{% block content  %}

    {% include "User-Template/Landing-page/slider.html" %}

    {% include "User-Template/Landing-page/header.html" %}

    

    {% include "User-Template/Landing-page/category.html" %}
    {% include "User-Template/Landing-page/OfficeFurnishings.html" %}
   

    {% include "User-Template/Landing-page/about.html" %}
    
    {% include "User-Template/Landing-page/brand.html" %}

    {% include "User-Template/Landing-page/contact.html" %}
    {% include 'User-Template/Landing-page/bestseller.html' %}

    <!-- Elements list -->
   
</main><!-- End .main -->



</div>
{% endblock  %}