
<div class="page-content">
                <div class="container">
                	<h2 class="title mb-3">
                        Office Furnishings That Fit Your Style</h2><!-- End .title -->

                	<div class="row">
                		<div class="col-md-12">
                			<div class="accordion accordion-plus" id="accordion-2">
							    <div class="card">
							        <div class="card-header" id="heading2-1">
							            <h2 class="card-title">
							                <a role="button" data-toggle="collapse" href="#collapse2-1" aria-expanded="true" aria-controls="collapse2-1">
							                    What is the role of furnishing in interior design?
							                </a>
							            </h2>
							        </div><!-- End .card-header -->
							        <div id="collapse2-1" class="collapse show" aria-labelledby="heading2-1" data-parent="#accordion-2">
							            <div class="card-body">
							                Furnishing sometimes refers to soft upholstery or furnishing. These are the components manufactured with the help of soft materials that contribute to developing a comfortable and pleasant environment to complement the fittings and furniture inside the building.
							            </div><!-- End .card-body -->
							        </div><!-- End .collapse -->
							    </div><!-- End .card -->

							    <div class="card">
							        <div class="card-header" id="heading2-2">
							            <h2 class="card-title">
							                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-2" aria-expanded="false" aria-controls="collapse2-2">
							                    What comes in the category of modular office furniture?
							                </a>
							            </h2>
							        </div><!-- End .card-header -->
							        <div id="collapse2-2" class="collapse" aria-labelledby="heading2-2" data-parent="#accordion-2">
							            <div class="card-body">
							                Modular office furniture is used to describe the furniture used in the offices. This type of furniture can be moved from one location to another within the space according to the requirement. If you are willing to buy this type of furniture online, you should consider visiting Designcraft for support. 
							            </div><!-- End .card-body -->
							        </div><!-- End .collapse -->
							    </div><!-- End .card -->

							    <div class="card">
							        <div class="card-header" id="heading2-3">
							            <h2 class="card-title">
							                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-3" aria-expanded="false" aria-controls="collapse2-3">
							                    Which type of furniture should be selected for the office?
							                </a>
							            </h2>
							        </div><!-- End .card-header -->
							        <div id="collapse2-3" class="collapse" aria-labelledby="heading2-3" data-parent="#accordion-2">
							            <div class="card-body">
							                If you are looking for an online furniture store, look no further; at Designcraft, we have the best ergonomic and comfortable desks and chairs, office partitions, lounge equipment, smart boards, conference table, etc., essential for designing a collaborative and productive environment.

                                            Although shopping for the best Custom made office furniture can be daunting, make sure your efforts won’t get wasted. 
							            </div><!-- End .card-body -->
							        </div><!-- End .collapse -->
							    </div><!-- End .card -->
                                <div class="card">
							        <div class="card-header" id="heading2-4">
							            <h2 class="card-title">
							                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-4" aria-expanded="false" aria-controls="collapse2-4">
							                    What importance a furniture hold in the office's interior?
							                </a>
							            </h2>
							        </div><!-- End .card-header -->
							        <div id="collapse2-4" class="collapse" aria-labelledby="heading2-4" data-parent="#accordion-2">
							            <div class="card-body">
                                            Furniture is the key element when it comes to providing comfort for the employees and supporting professionalism. Therefore, you can’t underestimate its prominence as it can effortlessly make or break the efficiency of your employees.. 
							            </div><!-- End .card-body -->
							        </div><!-- End .collapse -->
							    </div><!-- End .card -->
							</div><!-- End .accordion -->
                		</div><!-- End .col-md-6 -->
                    </div>
                </div>
           </div>
