{% extends 'User-Template/base-layout.html' %}
{% load static %}
{% block title %}
Contact US | REAL FURNITURE
{% endblock title %}
{% block content  %}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact us</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    <div class="container">
        <div class="page-header page-header-big text-center" style="background-image: url('assets/images/contact-header-bg.jpg')">
            <h1 class="page-title text-white">Contact us<span class="text-white">keep in touch with us</span></h1>
        </div><!-- End .page-header -->
    </div><!-- End .container -->

    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-2 mb-lg-0">
                    <h2 class="title mb-1">CONTACT US</h2><!-- End .title mb-2 -->
                    <p class="mb-3">Finding the best office furniture at the most competitive prices can’t be easier!
                        Just hop by our Showroom in Al Quoz 3 and our team will help you with professional advice and all the design services in selecting the right office furniture..</p>
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="contact-info">
                                <h3>The Office</h3>

                                <ul class="contact-list">
                                    <li>
                                        <i class="icon-map-marker"></i>
                                        Warehouse No 55 Street no 4 - nearby Modern Bakery - Al Quoz Industrial Area 3 - Dubai
                                    </li>
                                    <li>
                                        <i class="icon-phone"></i>
                                        <a href="tel:#">+971 552949878</a>
                                    </li>
                                    <li>
                                        <i class="icon-envelope"></i>
                                        <a href="mailto:#">info@Molla.com</a>
                                    </li>
                                </ul><!-- End .contact-list -->
                            </div><!-- End .contact-info -->
                        </div><!-- End .col-sm-7 -->

                        <div class="col-sm-5">
                            <div class="contact-info">
                                <h3>The Office</h3>

                                <ul class="contact-list">
                                    <li>
                                        <i class="icon-clock-o"></i>
                                        <span class="text-dark">Monday-Saturday</span> <br>8am-6pm  GMT/UTC
                                    </li>
                                    <li>
                                        <i class="icon-calendar"></i>
                                        <span class="text-dark">Sunday</span> <br> Holiday
                                    </li>
                                </ul><!-- End .contact-list -->
                            </div><!-- End .contact-info -->
                        </div><!-- End .col-sm-5 -->
                    </div><!-- End .row -->
                </div><!-- End .col-lg-6 -->
                <div class="col-lg-6">
                    <h2 class="title mb-1">How can we help ?</h2><!-- End .title mb-2 -->
                    <p class="mb-2">Please write your phone number as well at the end of your message and we will call you back with the information you need..</p>
                    {% include "User-Template/includes/messages.html" %}

                    <form action="" method="post"   class="contact-form mb-3">
                        {% csrf_token %}
                
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="cname" class="sr-only">Name</label>
                                {% comment %} <input type="text" name="name" class="form-control" id="cname" placeholder="Name *" required> {% endcomment %}
                                {{ form.name }}
                            </div><!-- End .col-sm-6 -->

                            <div class="col-sm-6">
                                <label for="cemail" class="sr-only">Email</label>
                                {% comment %} <input type="email" name="email" class="form-control" id="cemail" placeholder="Email *" required> {% endcomment %}
                                {{ form.email }}
                            </div><!-- End .col-sm-6 -->
                        </div><!-- End .row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <label for="cphone" class="sr-only">Phone</label>
                                {% comment %} <input type="tel" name="phone_no" class="form-control" id="cphone" placeholder="Phone"> {% endcomment %}
                                {{form.phone_no}}
                            </div><!-- End .col-sm-6 -->
                           
                            <div class="col-sm-6">
                                <label for="csubject" class="sr-only">Subject</label>
                                {% comment %} <input type="text" name="subject" class="form-control" id="csubject" placeholder="Subject"> {% endcomment %}
                                {{form.subject}}
                            </div><!-- End .col-sm-6 -->
                        </div><!-- End .row -->
                        {{form.file}}

                        <label for="cmessage" class="sr-only">Message</label>
                        {% comment %} <textarea class="form-control" name="message" cols="30" rows="4" id="cmessage" required placeholder="Message *"></textarea> {% endcomment %}
                        {{form.message}}

                        <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                            <span>SUBMIT</span>
                            <i class="icon-long-arrow-right"></i>
                        </button>
                    </form><!-- End .contact-form -->
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->

            <hr class="mt-4 mb-5">

            
        </div><!-- End .container -->
        
       
    </div><!-- End .page-content -->
    
    
</main><!-- End .main -->
{% include "User-Template/Contact/map.html" %}
{% comment %} {% include "User/Contact/map.html" %} {% endcomment %}
{% endblock %}