<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .responsive-map{
            overflow: hidden;
            padding-bottom:40.25%;
            position:relative;
            height:0;
            }
            .responsive-map iframe{
            left:0;
            top:0;
            height:90%;
            width:100%;
            position:absolute;
            }
    </style>
</head>
<body>
    
    <div class="responsive-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14448.98958777212!2d55.2131318!3d25.1273255!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6b93ef4c1f3b%3A0x3957d7b1fb79a657!2sReal%20Touch%20Office%20Furniture!5e0!3m2!1sen!2sae!4v1702626949651!5m2!1sen!2sae" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</body>
</html>