
<div class="pt-3 pb-3">
    <div class="container">
        <div class="banner-group">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="banner banner-overlay banner-lg">
                        <a href="#">
                            <img src="assets/images/demos/demo-9/banners/banner-1.jpg" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-bottom">
                            <h4 class="banner-subtitle text-white"><a href="#">Clearance</a></h4><!-- End .banner-subtitle -->
                            <h3 class="banner-title text-white"><a href="#">Waterproof</a></h3><!-- End .banner-title -->
                            <div class="banner-text text-white"><a href="#">from $19.00</a></div><!-- End .banner-text -->
                            <a href="#" class="btn btn-outline-white banner-link">Discover Now</a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-lg-4 -->

                <div class="col-sm-6 col-lg-4 order-lg-last">
                    <div class="banner banner-overlay banner-lg">
                        <a href="#">
                            <img src="assets/images/demos/demo-9/banners/banner-4.jpg" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-top">
                            <h4 class="banner-subtitle text-white"><a href="#">On Sale</a></h4><!-- End .banner-subtitle -->
                            <h3 class="banner-title text-white"><a href="#">Women's<br>Sportswear</a></h3><!-- End .banner-title -->
                            <div class="banner-text text-white"><a href="#">from $39.00</a></div><!-- End .banner-text -->
                            <a href="#" class="btn btn-outline-white banner-link">Discover Now</a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-lg-4 -->

                <div class="col-12 col-lg-4">
                    <div class="row">
                        <div class="col-sm-6 col-lg-12">
                            <div class="banner banner-overlay">
                                <a href="#">
                                    <img src="assets/images/demos/demo-9/banners/banner-2.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-white"><a href="#">New Arrivals</a></h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="#">Accessories<br>and Shoes</a></h3><!-- End .banner-title -->
                                    <a href="#" class="btn btn-outline-white banner-link">Shop Now</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-sm-6 col-lg-12 -->

                        <div class="col-sm-6 col-lg-12">
                            <div class="banner banner-overlay">
                                <a href="#">
                                    <img src="assets/images/demos/demo-9/banners/banner-3.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-white"><a href="#">New Arrivals</a></h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="#">Spring 2019</a></h3><!-- End .banner-title -->
                                    <a href="#" class="btn btn-outline-white banner-link">Shop Now</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-sm-6 col-lg-12 -->
                    </div><!-- End .row -->
                </div><!-- End .col-lg-4 -->
            </div><!-- End .row -->
        </div><!-- End .banner-group -->
    </div>
</div>        