{% load static %}
<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">About us</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
<div class="container">
    <div class="page-header page-header-big text-center" style="background-image: url('{% static 'assets/images/about/about-2/about.jpg' %}');">
        <h1 class="page-title text-white">Project<span class="text-white">Who we are</span></h1>
    </div><!-- End .page-header -->
</div><!-- End .container -->